.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  font-size: large;

}

.text-uppercase {
  margin-left: 150px;
  font-size: larger;
}

.container {
  text-align: left;
}

.form-group {
  width: 50%;
  margin: auto;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);

}

.fas {
  color: red;
  width: 200px;
  height: 200px;
  margin-left: 0px;
}

#profile {
  width: 100px;
  justify-content: center;
  margin: auto;

}

#createProject {
  width: 100%;
}

.modal-content {
  position: relative;
  top: 300px;
  left: 0px;
  padding: 10px;

}


.col {
  justify-content: space-around;

}

.displayImageProject {
  float: left;
  width: 50px;
}

.displayImageProjectInProfile {
  float: left;
  width: 100px;
}
.displayImageInProject{
  width: 70px;
  margin-right: 100px;
  float: left;
  padding: 20px;
}



.categorysProject {

  padding: 20px;
  width: 90%;
  margin: 20px 0px 10px 7%;
  border-style: ridge;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);
  text-align: center;
  
}

.profileProjects {
  display: flex;
  padding: 15px;
  width: 50%;
  margin: 20px 0px 10px 7%;
  border-style: ridge;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);
}


.row-info{
  width: 50%;
  height: 300px;
}

.projectInfo{
  padding: 15px;
  width: 800px;
  height: 500px;
  margin: 20px 0px 10px 7%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);

}
.btn-left{
  
  align-items: flex-start;
  margin-right: 50px;
}
.btn-right{
  align-items: flex-end;
  margin-left:50px ;
}

.btn-join{
  margin-top: 200px;
  justify-content:space-around ;
}

.comment{
  float: right;
}

.modal-content {
  position: relative;
  top: 106px;
  left: 200px;
  padding: 10px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);
}

.close-btn{
  width: 100px;
  justify-content: end;
  float: right;
}
.searchbar-container{
  margin: 10px 10px 40px 190px;
  display: flex;
  justify-content: flex-start;
  
 
}
.searchbar{
  margin-bottom:200px;
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;


}

.createproject{
  justify-content: end;
  margin:40px;
  width: 100px;
}
.createproject, button{
  width: 180px;
  
}

.profileCard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;

}



.title {
  color: grey;
  font-size: 18px;
}
